absl-py
flax
gin-config @ git+https://github.com/google/gin-config@243ba87b3fcfeb2efb4a920b8f19679b61a6f0dc
imageio
immutabledict
jax
jaxlib
Markdown
matplotlib
numpy
oauthlib
opencv-python
opt-einsum
optax
Pillow
scipy
tensorflow
tqdm